body{
    background-color: whitesmoke;
}
h1{
    text-align: center;
    margin-top: 3%;
    font-size: x-large;
}
header nav ul li a{
    float: right;
    text-decoration: none;
    margin-left: 4%;
    color: brown;
}
p{
text-align: center;
font-family:'PT Serif', serif;
border: solid 10px rgba(255, 0, 34, 0.459);
border-radius: 60px;
margin-top: 3%;
font-size:xx-large
}
.work{
    text-align: center;
    font-size:xx-large;
    position: absolute;
    top: 50%;
    left: 20%;
    font-family: 'PT Serif', serif;
}

.places{
    text-align: center;
    font-size:x-large;
    margin-top: 10%;
    position: absolute;
    top: 50%;
    left: 40%;
    font-family: 'PT Serif', serif;
}
.places ol li{
    list-style-type: decimal;
    list-style-position: inside;
}
footer{
    position: absolute;
    top: 108%;
    left: 40%;
text-align: center;
margin-top: 2%;
}