body{
    background-color: whitesmoke;
}
h1{
    text-align: center;
    margin-top: 2%;
    font-size: large;
}
header nav ul li a{
    float: right;
    text-decoration: none;
    margin-left: 4%;
    color: brown;
}
p{
text-align: center;
margin-top: 10%;
font-size: x-large;
border: solid 30px yellow;
border-radius: 50px;
color: green;
}
footer{
    text-align: center;
    margin-top: 27%;
}
.work{
    text-align: center;
    font-size:x-large
}
.places{
    text-align: center;
    font-size:x-large

}